*.iml
/local.properties
/captures
.externalNativeBuild
bin
gen

# log files
log*.txt

# archives
*.gz
*.tar
*.zip

# eclipse
*.metadata
*.settings
*.prefs

#idea
*.idea
out/

build/
.gradle/

.keystore/
app-release.apk

.DS_Store
